@import url(index.css);

.bx-column-productDesserts{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--spc-prs-3);

    .title{
        font-size: var(--prs-1);
        font-weight: bold;
        color: var(--rose-900);
    }

    .bx-productsDesserts{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spc-prs-3);
    }
}

.bx-column-section-productDessertsCart{
    width: 384px;
    height: fit-content;
    background-color: white;
    border-radius: var(--spc-prs-6);
    padding: var(--spc-prs-4);
    transition: .3s ease all;
}