@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url(assets/components/productsDesserts/products.css);
@import url(assets/components/cart/cart.css);

:root{
    /*Typography*/
    --fontF: "Red Hat Text", system-ui;
    --prs-1: 40px;
    --prs-2: 24px;
    --prs-3: 16px;
    --prs-4: 14px;

    /*Spacing*/
    --spc-prs-1: 88px;
    --spc-prs-2: 40px;
    --spc-prs-3: 32px;
    --spc-prs-4: 24px;
    --spc-prs-5: 16px;
    --spc-prs-6: 12px;
    --spc-prs-7: 8px;
    --spc-prs-8: 4px;

    /*Colors*/
    --colorRed: #C73B0F;
    --colorGreen: #1EA575;
    --rose-900: #260F08;
    --rose-500: #87635A;
    --rose-400: #AD8A85;
    --rose-300: #CAAFA7;
    --rose-100: #F5EEEC;
    --rose-50: #FCF8F6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontF);
}

body{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--rose-50);

    .content__all{
        width: 1216px;
        height: 100%;
        padding: var(--spc-prs-1) 0;
        display: flex;
        gap: var(--spc-prs-3);
    }
}

/*LAYOUTS*/

/*TABLETS*/
@media screen and (min-width: 375px) and (max-width: 1199px){
    body{
        .content__all{
            width: 100%;
            flex-direction: column;
            padding: var(--spc-prs-2);

            .bx-column-productDesserts{
                width: 100%;
                
                .bx-productsDesserts{
                    gap: 1.4rem;

                    .content-cardProductDessert{
                        width: 213.33px;
                        height: 309px;
                        
                        .image-presentationProductDessert{
                            height: 234px;

                            .bx-presentationDesserts{
                                height: 212px;
                            }

                            .addCart{
                                bottom: 12px;
                            }
                        }
                    }
                }
                
            }

            .bx-column-section-productDessertsCart{
                width: 100%;
                height: 100%;
            }
            
        }
    }
}

/*MOBILE*/

@media screen and (min-width: 310px) and (max-width: 448px){
    body{
        .content__all{
            padding: var(--spc-prs-3);
            .bx-column-productDesserts{
                .bx-productsDesserts{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(9, 1fr);

                    .content-cardProductDessert{
                        width: 100%;

                        .image-presentationProductDessert{
                            .bx-presentationDesserts{
                                .productDessert{height: 212px;}
                            }
                        }
                    }
                }

                .addCart{bottom: 4px !important;}
            }

            .bx-column-section-productDessertsCart{
                .bx-modelCompleteOrderProduct{
                    width: 100%;
                    top: 64.5%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    .contentAllProductOrder{
                        width: 100%;

                        .bx-productOrderCart{
                            max-height: 100px;

                            .productOrderCart{
                                .orderCard-product{
                                    .infoProductOrderCart{
                                        .infoProduct{
                                            .titleProduct{
                                                width: 100%;
                                                overflow: scroll;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}